# macOS system files
.DS_Store

# VSCode-specific files
.vscode/
*.code-workspace

# Compiled object files and executable files
_build_/
bin/
lib/
*.exe
*.o

# Ignore premake5 binaries
premake5
premake5.exe
premake5.apple

# Temporary files
*.tmp
*.log
